@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Novaklasse';
	src: url('../assets/fonts/nova-klasse-font-1748158241-0/novaklasse-semibold-BF65f32c1d1314a.otf') format('opentype');
}
@font-face {
	font-family: 'DisplayFair';
	src: url('../assets/fonts/moreFonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('opentype');
}
@font-face {
	font-family: 'MontserratBlack';
	src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('opentype');
}
@font-face {
	font-family: 'MontserratBold';
	src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('opentype');
}

/* @font-face {
	font-family: 'Inter';
	src: url('/src/assets/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
} */

:root {
	--base-padding-x: 1rem;
	--base-padding-y: 1rem;
	--base-primary-color: #0055cd;
}

@media (min-width: 1024px) {
	:root {
		--base-padding-x: max(5vw, 4rem);
		--base-padding-y: clamp(30px, 4vw, 50px);
	}
}

html {
	scrollbar-gutter: stable;
	@apply overflow-x-hidden;
}

body {
	@apply font-title;
	/* color: #0055cd !important; */
}

/* Selection */
::-moz-selection {
	color: white;
	background: black;
}
::selection {
	color: white;
	background: black;
}
.dark ::-moz-selection {
	color: white;
	background: black;
}
.dark ::selection {
	color: white;
	background: black;
}
.select-none {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Custom scrollbar */

::-webkit-scrollbar-track {
	border: none;
	background-color: transparent;
}
::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #000;
}

.text-blue-primary{
	color: #0055cd !important;
}

.bg-blue-primary{
	background-color: #0055cd !important;
}