---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPreview from "@/components/sections/BlogPreview.astro";
import RecentBlog from "./RecentBlog.astro";

const currentLocale = Astro.currentLocale;

const {data} = Astro.props;

// const allPosts = data
// 	.map((post) => {
// 		const [lang, ...slug] = post.slug.split("/");
// 		return {
// 			...post,
// 			lang: lang,
// 			slug: post.slug.startsWith("/") ? post.slug : `/${post.slug}`,
// 		};
// 	})
// 	.filter((post) => post.lang === currentLocale && !post.data.hidden)
// 	.sort(
// 		(a, b) =>
// 			a.data.lastUpdateDate.getTime() - b.data.lastUpdateDate.getTime(),
// 	) as CollectionEntry<"posts">[];
---

<!-- <div
	class="gap-x-[1.88rem] text-sm font-medium auto-cols-fr grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-[auto] gap-y-10 grid pb-40"
> -->
<div class="text-sm font-medium auto-cols-fr grid-cols-1 md:grid-cols-2 grid-rows-[auto_auto] grid gap-[3.13rem] pb-40">
	{data.map((blog : any) => <RecentBlog {blog} />)}
</div>
