---
import { Image } from "astro:assets";
import companyLogo from "@/assets/global/navigation/Sqratch_logo.svg";

interface Props {
	testimonial: string;
	name: string;
}

const { testimonial, name } = Astro.props;
---

<style>
	.frame-border {
	  	--s: 80px; /* corner size */
  		padding: 15px; /* the gap */
  		border: 8px solid #0055cd;
  		mask:
			conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
			0 0/calc(100% - var(--s)) calc(100% - var(--s)),
			conic-gradient(#000 0 0) content-box;
	}

	.frame-bg{
		background: #0055cd85;
	}

</style>

<div class="text-sm font-medium pt-20 pb-14 frame-border my-10">
	<div class="bg-black flex-grow py-10 px-16">
		<div class="items-center flex-col justify-center text-center flex">
			{companyLogo && (
				<Image
					src={companyLogo}
					alt="Sqratch"
					class="object-contain align-middle inline-block w-full h-24 max-w-[8.13rem] mb-8"
				/>
			)}
			<h2 class="text-white text-4xl mb-4">"{name}"</h2>
			<h2 class="text-white leading-9 text-2xl mb-1">
				"{testimonial}"
			</h2>
			<div class="bg-white/[0.9] w-12 h-0 my-4 m-auto mx-auto"></div>
		</div>
	</div>
</div>
